*.log
npm-debug.*
*.scssc
*.log
*.swp
.DS_Store
.sass-cache
node_modules
dist
.envrc
.env

# Specifics
functions/*.zip

# Hide compiled CSS
src/_includes/assets/styles/*

# Local Netlify folder
.netlify
