<header class="c-intro">
  <div class="o-wrapper">
    <h1 class="c-intro__heading p-name">
      {{ introHeading }}
    </h1>
    {% if introSummary %}
      <p class="intro__summary">{{ introSummary | safe }}</p>
    {% endif %}
  </div>
</header>
