<p class="c-post-meta">
  {% if tags %}
    <span class="p-author h-card">Quote from {{ tags | tagsToSentence | safe }}</span>
  {% endif %}
  {% if metaDate %}
    <time datetime="{{ metaDate | w3DateFilter }}"
          class="c-post-meta__date dt-published">/ {{ metaDate | dateFilter }}</time>
  {% endif %}
</p>
