<hr class="o-hr" aria-hidden="true">

<footer role="contentinfo" class="c-site-foot">
  <div class="o-wrapper">

    <div class="c-site-foot__switcher o-switcher">
      <div class="o-switcher__intermediary o-switcher__intermediary--limit-2">
        <section class="c-about">
          <h3>About</h3>
          <p>{{ site.description }}</p>
          <div class="c-about__item c-about__item--contact">
            <h4>Contact</h4>
            <p>
              <a href="mailto:{{ site.author.mail }}" title="email" rel="me" >{{ site.author.mail }}</a>
            </p>
          </div>
          <div class="c-about__item c-about__item--social">
            <h4>Social</h4>
            <p>
              <a href="{{ site.social.twitter }}" title="Twitter" rel="me">Twitter</a> /
              <a href="{{ site.social.github }}" title="GitHub" rel="me">GitHub</a>
            </p>
          </div>
        </section>
      </div>
    </div>

    <small class="site-foot__credit">Made Proudly in Tokyo.</small>
  </div>
</footer>
