<div class="c-small-print">
  <div class="c-small-print__item c-small-print__item--published-by">
    <h3>Publications</h3>
    <div class="c-small-print__publication">
      <h4>Frontend Weekly Tokyo</h4>
      <p>
        <a href="https://frontendweekly.tokyo/">Frontend Weekly Tokyo</a> is a weekly published curated media.
      </p>
    </div>
    <div class="c-small-print__publication">
      <h4>Virga</h4>
      <p>
        <a href="https://virga.frontendweekly.tokyo/">Virga</a> is an Eleventy starter kit and my personal English blog.
      </p>
    </div>
  </div>
</div>
