.c-site-head {
  contain: layout;
  padding: calc(var(--space-base) * 4) 0;
}

.c-site-head__site-name--logo {
  display: block;
  width: 48px;
  height: 48px;
}

.c-site-head__site-name--logo svg {
  border-radius: 12%;
}
