{% extends 'layouts/base.njk' %}
{% set pageType = 'Homepage' %}

{# Intro content #}
{% set introHeading = title %}

{# Post list content #}
{% set postListItems = collections.posts %}

{% block content %}
<main id="main-content" tabindex="-1" class="page-{{ pageType | lower }}">
  {% include "partials/components/intro.njk" %}
  {% include "partials/components/post-list.njk" %}
</main>
{% endblock %}
