.c-site-foot {
  padding-bottom: calc(var(--space-base) * 4);
}

.c-site-foot__credit {
  --type-local-font-size-in-px: calc(
    var(--type-base-font-size) * var(--type-scale-3)
  );
  --type-local-space-top: calc(
    var(--type-base-line-height) / var(--type-local-font-size-in-px)
  );

  display: block;
  margin-top: calc(var(--type-local-space-top) * 1em);
}
