.c-site-head {
  padding: calc(var(--space-base) * 4) 0;
  contain: layout;
}

.c-site-head__site-name--logo {
  display: block;
  width: 48px;
  height: 48px;
}

.c-site-head__site-name--logo svg {
  border: 1px solid var(--color-bg);
  border-radius: 4px;
}
