/* https://www.colorbox.io/#steps=9#hue_start=0#hue_end=0#hue_curve=linear#sat_start=0#sat_end=0#sat_curve=linear#sat_rate=0#lum_start=92#lum_end=49#lum_curve=linear#lock_hex=92918E#minor_steps_map=0 */
:root {
  --color-text: var(--color-gray-900);
  --color-bg: var(--color-gray-100);
}
