.o-wrapper {
  --space-char-per-line: 64;

  max-width: calc(var(--space-char-per-line) * 1ch);
  padding: 0 calc(var(--space-base) * 2);
  margin-right: auto;
  margin-left: auto;
  contain: layout;
}
